<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link rel="stylesheet" href="css/login-style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <div class="login-box admin">
    <i class="fas fa-user-shield login-icon"></i>
    <h2>Admin Login</h2>
    <form>
      <div class="input-group">
        <input type="text" required>
        <label>Admin ID</label>
      </div>
      <div class="input-group">
        <input type="password" required>
        <label>Password</label>
      </div>
      <button type="submit" class="login-btn">Login</button>
    </form>
  </div>
</body>
</html>
